*{
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

html,body{
    height: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.pointer{
    cursor: pointer;
}
